* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #02213a;
  height: 60px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
}

a.active,
a.hover {
  background: #074d82;
  transition: 0.5s;
}
a.hover {
  background: #024272;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  float: right;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

#backgroundimage {
  height: 100vh;
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#description {
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.des-text {
  margin-left: 250px;
  margin-right: 250px;
  font-size: 15px;
  text-align: justify;
}
.mem-cards {
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.card {
  text-align: center;
  box-shadow: 0 4px 8px;
  max-width: 300px;
  margin: auto;
}
.card:hover {
  box-shadow: 0 12px 20px;
}
a.btn {
  background-color: rgb(2, 94, 2);
  color: white;
  width: 100%;
}
